[submodule "twitchtetris"]
	path = twitchtetris
	url = https://github.com/RogerCronin/twitchtetris
[submodule "russianroulette"]
	path = russianroulette
	url = https://github.com/RogerCronin/Russian-Roulette
[submodule "hangman"]
	path = hangman
	url = https://github.com/RogerCronin/Hangman
[submodule "gnomefighter"]
	path = gnomefighter
	url = https://github.com/RogerCronin/Gnome-Fighter
[submodule "crabsimulator/CrabSimulator1.4"]
	path = crabsimulator/CrabSimulator1.4
	url = https://github.com/RogerCronin/Crab-Simulator-1.4
[submodule "crabsimulator/CrabSimulatorTSA"]
	path = crabsimulator/CrabSimulatorTSA
	url = https://github.com/SaladTheGreat42/TSA-Crab-Simulator
[submodule "playground"]
	path = playground
	url = https://github.com/RogerCronin/Squarebrackets-Playground
