[submodule "twitchtetris"]
	path = twitchtetris
	url = https://github.com/RogerCronin/twitchtetris
[submodule "russianroulette"]
	path = russianroulette
	url = https://github.com/RogerCronin/Russian-Roulette
[submodule "hangman"]
	path = hangman
	url = https://github.com/RogerCronin/Hangman
