@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root {
	--black: #061826;
	--blue: #0471A6;
	--purple: #522B47;
	--white: #E8E8E8;
	--green: #386641;
	--gray: #CDCDCD;
	--red: #DF2935;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h2 {
	text-align: center;
	font-size: 2em;
}

h3 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

p, li, a {
  font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
}

a:link {
  text-decoration: none;
	color: var(--white);
}

a:visited {
  text-decoration: none;
	color: var(--white);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
	color: var(--blue);
}

body {
  display: flex;
  flex-wrap: wrap;
	margin: 0em;
}

*::-webkit-scrollbar {
  display: none;
}

#headerDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 6.1em;
	background-color: var(--black);
	color: var(--white);
	font-size: max(1.8vw, 110%); /* black magic that fixes phone text size too big */
}

#headerDiv span {
	font-weight: bold;
	color: var(--blue);
}

#infoDiv {
	padding: 0 1.5em 2em 2em;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#footerDiv {
	width: 100%;
	background-color: var(--black);
	color: var(--white);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.socialRow a, .socialRow span {
	font-size: 0.8em;
	display: inline;
	position: relative;
	bottom: 0.8em;
	left: 0.5em;
	margin-right: 1em;
}

.socialRow {
	padding: 0 1em;
}

#infoDiv ul {
	margin: 0 auto;
	width: fit-content;
}

#blanketDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	position: fixed;
	width: 100vw;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	opacity: 0;
	z-index: -1;
	transition: opacity ease 0.5s;
}

#blanketDiv.active {
	opacity: 1;
}

#gameInfoDiv > h3 {
	font-size: 2em;
}

#gameInfoDiv > p {
	width: 20em;
	margin: auto;
}

#gameInfoDiv > button {
	font-size: 1.3em;
	margin: 0 20px 20px 20px;
	border-radius: 2em;
	border: none;
	padding: 20px;
	color: var(--white);
}

#launchButton {
	background-color: var(--green);
}

#backButton {
	background-color: var(--red);
}

button {
	transition: box-shadow ease 0.25s;
}

button:hover {
	box-shadow: 0 0 0.6em rgb(0, 0, 0, 0.4);
}

#gameInfoDiv {
	margin: 2em;
	width: min(750px, 80vw);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--purple);
	border-radius: 2em;
}

#gameInfoDiv > p {
	margin: auto;
	padding-bottom: 2em;
	max-width: 60vw;
}

#gamesDivWrapper {
	width: 100%;
	background-color: var(--blue);
}

#gamesDiv {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 2em;
	position: relative;
	margin: 0 20vh;
}

.gameWrapper {
	position: relative;
	height: 300px;
	width: 240px;
	min-width: 240px;
	margin: 1em;
}

.game {
	position: relative;
	top: 0;
	left: 0;
	transition: top ease 0.25s, left ease 0.25s, box-shadow ease 0.25s;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	width: 240px;
	min-width: 240px;
	background-color: var(--black);
	border-radius: 1em;
	/* margin: 1em; */
}

.game:hover {
	top: -10px;
	box-shadow: 0 0.4em 0.4em rgb(0, 0, 0, 0.6);
}

.game div {
	text-align: center;
	margin: 0.9em auto;
	padding-top: 0.15em;
	width: 80%;
	height: 1.5em;
	border-radius: 0.25em;
	background-color: var(--white);
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--black);
	font-size: 1.5em;
}

.game img {
	margin: -.1em 1.2em auto auto;
	width: 200px;
	height: 200px;
	border-radius: 1em;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 85%);
}
