@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
	--black: #061826;
	--blue: #0471A6;
	--purple: #522B47;
	--white: #E8E8E8;
	--green: #386641;
	--gray: #CDCDCD;
	--red: #DF2935;
	--alert: #F34213;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h2 {
	text-align: center;
	font-size: 2em;
}

h3 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

p, li {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
}

a:link {
  text-decoration: none;
	color: var(--white);
}

a:visited {
  text-decoration: none;
	color: var(--white);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
	color: var(--blue);
}

body {
  display: flex;
  flex-wrap: wrap;
	margin: 0em;
}

*::-webkit-scrollbar {
  display: none;
}

#headerDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 6.1em;
	background-color: var(--black);
	color: var(--white);
	font-size: max(1.8vw, 110%); /* black magic that fixes phone text size too big */
}

#headerDiv span {
	font-weight: bold;
	color: var(--blue);
}

#personalDivWrapper {
	width: 100%;
}

#personalDiv {
	padding: 0 1.5em 2em 2em;
	margin: 0 10vw 2em 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#personalDiv > h2 {
	margin: 1em 0 0 0;
}

#personalDiv > p {
	margin: 1em 0 2em 0;
}

#personalDiv > div > img {
	max-width: 329px;
	border-radius: 2em;
}

#personalDiv > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}

#personalDiv > div > div {
	height: auto;
	min-width: 329px;
	min-height: 329px;
	color: var(--white);
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#funFacts {
	cursor: pointer;
	background-color: var(--blue);
	width: 329px;
}

#funFactsText {
	position: relative;
	bottom: -25px;
	opacity: 0;
	transition: bottom ease 0.25s, opacity ease 0.25s;
	margin: 1em;
}

#funFactsText.active {
	bottom: 0;
	opacity: 1;
}

#recentTracks {
	background-color: var(--purple);
}

#recentTracks > p {
	margin: 1em 0 0 0;
}

#recentTrackWrapper {
	display: flex;
	flex-direction: column;
	margin: 1em;
	gap: 0.5em;
}

#recentTrackWrapper > div {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	gap: 1em;
}

#recentTrackWrapper > div > p {
	margin: 0;
	text-align: left;
}

#recentTrackWrapper > div > img {
	border-radius: 0;
	width: 64px;
	height: 64px;
	border-radius: 0.5em;
}

p .nowListening {
	color: var(--gray);
}

p .nowListening:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	animation: ellipsis steps(4, end) 3s infinite;
	content: "\2026";
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1em;
	}
}

#infoDiv {
	padding: 0 1.5em 2em 2em;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--blue);
	color: var(--white);
}

#footerDiv {
	width: 100%;
	background-color: var(--black);
	color: var(--white);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.socialRow a, .socialRow span {
	font-size: 0.8em;
	display: inline;
	position: relative;
	bottom: 0.8em;
	left: 0.5em;
	margin-right: 1em;
}

.socialRow {
	padding: 0 1em;
}

#infoDiv ul {
	margin: 0 auto;
	width: fit-content;
}

#blanketDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	position: fixed;
	width: 100vw;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.9);
	opacity: 0;
	z-index: -1;
	transition: opacity ease 0.5s;
}

#blanketDiv.active {
	opacity: 1;
}

#gameInfoDiv > h3 {
	margin: 0 0 0.5em 0;
	font-size: 3em;
	font-family: "VT323";
}

#gameInfoDiv > p {
	margin: 0;
	width: 100%;
	font-family: "VT323";
	font-size: 1.5em;
}

#gameboy button {
	height: 57px;
	width: 57px;
	border: 0;
	border-radius: 50%;
}

#gameboy button:focus {
	filter: brightness(80%);
}

#launchButton {
	position: absolute;
	top: 182px;
	right: 39px;
	background-color: var(--green);
}

#backButton {
	position: absolute;
	top: 210px;
	right: 119px;
	background-color: var(--red);
}

#gameInfoDiv {
	width: 350px;
	height: 290px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 2em;
}

#gamesDivWrapper {
	width: 100%;
	background-color: var(--blue);
}

#gamesDiv {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 2em;
	position: relative;
	margin: 0 20vh;
}

#gameboy {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
	z-index: 2;
	position: fixed;
	width: 860px;
	height: 507px;
	bottom: -508px;
	transition: bottom ease 0.25s;
	left: calc(50vw - 860px / 2);
	background-image: url("assets/gameboy.png");
}

.gameWrapper {
	position: relative;
	height: 300px;
	width: 240px;
	margin: 1em;
}

.game {
	position: relative;
	top: 0;
	left: 0;
	transition: top ease 0.25s, left ease 0.25s, bottom ease 0.25s, box-shadow ease 0.25s;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	width: 240px;
	background-color: var(--black);
	border-radius: 1em;
}

.game.active {
	position: fixed;
	left: calc(50vw - 240px / 2);
}

.game:not(.active):hover {
	top: -10px;
	box-shadow: 0 0.4em 0.4em rgb(0, 0, 0, 0.6);
}

.game div {
	text-align: center;
	margin: 0.9em auto;
	padding-top: 0.15em;
	width: 80%;
	height: 1.5em;
	border-radius: 0.25em;
	background-color: var(--white);
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--black);
	font-size: 1.5em;
}

.game img {
	margin: -0.1em 1.2em auto auto;
	width: 200px;
	height: 200px;
	border-radius: 1em;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 85%);
}

span.darkred {
	color: var(--alert);
}

#gameInfoDivDefault > h3 {
	font-size: 2em;
}

#gameInfoDivDefault > p {
	width: 20em;
	margin: auto;
	padding-bottom: 2em;
	max-width: 60vw;
}

#gameInfoDivDefault > button {
	font-size: 1.3em;
	margin: 0 20px 20px 20px;
	border-radius: 2em;
	border: none;
	padding: 20px;
	color: var(--white);
	text-transform: uppercase;
}

#gameInfoDivDefault {
	margin: 2em;
	width: min(750px, 80vw);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--purple);
	border-radius: 2em;
}

#launchButtonDefault {
	background-color: var(--green);
}

#backButtonDefault {
	background-color: var(--red);
}

#gameInfoDivDefault button {
	transition: box-shadow ease 0.25s;
}

#gameInfoDivDefault button:hover {
	box-shadow: 0 0 0.6em rgb(0, 0, 0, 0.4);
}

@media(min-width: 901px) {
	@media(min-height: 901px) {
		#gameInfoDivDefault {
			display: none;
		}
	}
}