body {
	--colorMain: #36393F;
	--colorAccent: #40444B;
	--colorDark: #2F3136;
	--colorWhite: #FFFFFF;
	--colorGray: #8E9297;

	padding: 0px;
	margin: 0px;

	background-color: var(--colorMain);
	font-family: "Pontano Sans";
}

/*
#messageSendField {
	width:100%;
	height: 40px;
	background-color: var(--colorAccent);
	box-shadow: 0px -3px 3px var(--colorDark);
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	position: fixed;
	bottom: 0;
}
*/

.whiteText {
	color: var(--colorWhite);
}

.grayText {
	color: var(--colorGray);
}

/* for mobile devices */
/*@media all and (max-width:1200px) {*/

	img:not([class]) {
		max-width: 80vw;
		border-radius: 1em;
	}

	#header {
		width: 100vw;
		height: 2.1em;
		background-color: var(--colorAccent);
		position: fixed;
		padding: 0.4em;
		z-index: 2;
	}

	#messageSendField {
		width: 100vw;
		height: 2.1em;
		background-color: var(--colorAccent);
		position: fixed;
		bottom: 0em;
		padding: 0.4em;
		z-index: 1;
	}

	#messageInput {
		width: calc(100% - 9.2em);
		height: 1.7em;
		position: absolute;
		padding: 0.4em;
		margin-left: 0.4em;
		outline: none;
		color: var(--colorWhite);
		background-color: var(--colorGray);
		border: 0px solid;
		border-radius: 2em;
	}

	#onlineButton {
		position: absolute;
		right: 1.2em;
	}

	#messageSend {
		position: absolute;
		right: 1.2em;
	}

	#messagesDiv {
		height: calc(100% - 8em);
		overflow-y: scroll;
		position: fixed;
		top: 3.2em;
		color: var(--colorWhite);
		padding: 1em;

		-ms-overflow-style: none;
  	scrollbar-width: none;
	}

	#messagesDiv::-webkit-scrollbar {
		display: none;
	}

	#emojiDrawer {
		position: fixed;
		background-color: var(--colorAccent);
		color: var(--colorWhite);
		width: 100vw;
		height: 14em;
		bottom: 0em;
		padding: 10px;
		z-index: 4;
		display: none;
	}

	#onlineDrawer {
		position: fixed;
		overflow-y: scroll;
		background-color: var(--colorAccent);
		color: var(--colorWhite);
		width: 16em;
		height: 100vh;
		right: 0em;
		top: 0em;
		padding: 10px;
		z-index: 5;
		display: none;

		-ms-overflow-style: none;
  	scrollbar-width: none;
	}

	#onlineDrawer::-webkit-scrollbar {
		display: none;
	}

	#screenBlocker {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0em;
		left: 0em;
		z-index: 3;
		background-color: rgba(0, 0, 0, .5);
		display: none;
	}

	#loadMoreButton {
		width: calc(100% - 0.5em);
		height: 2em;
		font-weight: bold;
		color: var(--colorWhite);
		background-color: var(--colorAccent);
		outline: none;
		border: 0px solid;
		border-radius: 2em;
	}

	#fileSelectLabel {
		width: calc(60% - 0.5em);
		display: inline-block;
		background-color: var(--colorDark);
		color: var(--colorWhite);
		padding: 0.3em;
		border-radius: 2em;
		cursor: pointer;
		padding-right: 5%;
		text-align: center;
	}

	#fileSelectInput {
		display: none;
	}

	#formSubmitLabel {
		width: calc(30% - 0.5em);
		display: inline-block;
		background-color: var(--colorDark);
		color: var(--colorWhite);
		padding: 0.3em;
		border-radius: 2em;
		cursor: pointer;
		text-align: center;
	}

	#formSubmit {
		display: none;
	}

	#imageForm {
		position: absolute;
		width: 100vw;
		bottom: 0.5em;
	}

	.icon {
		width: 1.8em;
		height: 1.8em;
		padding: 0.2em;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}

	.message {
		padding: 0.6em;
		color: var(--colorWhite);
		margin-bottom: 0.9em;
	}

	.pfp {
		width: 50px;
		height: 50px;
		margin-right: 0.7em;
		background-color: var(--colorWhite);
		float: left;
		clip-path: circle();
	}

	img.emoji {
		height: 1.1em;
		width: 1.1em;
		margin: 0 .05em 0 .1em;
		vertical-align: -0.1em;
	}

	#emojiDrawer .emoji {
		width: 2em;
		height: 2em;
		padding: 0.1em;
	}

	.username {
		font-weight: bold;
		padding-right: 0.6em;
	}

	.timestamp {
		font-size: 12px;
		color: var(--colorGray);
	}
/*}*/

/*
@media not all and (max-width:1200px) {

}
*/